@import 'tailwindcss';

@theme {
	--font-mono: 'Roboto Mono Variable', 'monospace';
	--font-sans: 'Rubik Variable', 'sans-serif';
	--font-franca: 'Franca', sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));