---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Hero from '@components/Hero.astro';
import SectionContainer from '@components/SectionContainer.astro';
import Services from '@components/Services.astro';
import TitleSection from '@components/TitleSection.astro';
import Footer from '@components/Footer.astro';
---

<Layout>
	<Header />
	<main class="mx-auto space-y-20">
		<SectionContainer id="hero" class="flex min-h-screen items-center justify-center p-10">
			<Hero />
		</SectionContainer>
		<SectionContainer class="p-10" id="services">
			<TitleSection> Servicios </TitleSection>
			<Services />
		</SectionContainer>
		<Footer />
	</main>
</Layout>
