---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Hero from '@components/Hero.astro';
import SectionContainer from '@components/SectionContainer.astro';
import Services from '@components/Services.astro';
import Footer from '@components/Footer.astro';
import About from '@components/About.astro';
import Contact from '@components/Contact.astro';
import TitleSection from '@components/TitleSection.astro';
---

<Layout>
	<Header />
	<main
		transition:animate="slide"
		class="flex-1 text-gray-900 dark:border-white dark:bg-[#050814] dark:text-gray-200"
	>
		<SectionContainer
			id="hero"
			class="flex min-h-[calc(100vh-3.75rem)] w-full items-center justify-center from-[#0e173a] to-[#050814] px-4 dark:bg-linear-to-b"
		>
			<Hero />
		</SectionContainer>
		<SectionContainer
			id="services"
			class="flex flex-col items-center justify-center px-4 py-10 md:py-20"
		>
			<TitleSection class="text-center">Nuestros Servicios</TitleSection>
			<Services />
		</SectionContainer>
		<SectionContainer
			id="about"
			class="flex flex-col items-center justify-center px-4 py-10 md:py-20"
		>
			<TitleSection class="text-center">Sobre nosotros</TitleSection>
			<About />
		</SectionContainer>
		<SectionContainer
			id="contact"
			class="flex flex-col items-center justify-center px-4 py-4"
		>
			<TitleSection class="text-center">Contáctanos</TitleSection>
			<Contact />
		</SectionContainer>
	</main>
	<Footer />
</Layout>
