---
import Image from 'astro/components/Image.astro';
import CheckCircle from './icons/CheckCircle.astro';
import TitleSection from './TitleSection.astro';

const list = [
	'Motivación por aprender y mejorar en cada tarea',
	'Conocimientos sólidos adquiridos en formaciones recientes',
	'Buena comunicación y actitud colaborativa',
	'Flexibilidad para adaptarse a diferentes equipos y proyectos',
];
---

<div class="container px-4 md:px-6">
	<div class="grid gap-6 lg:grid-cols-2 lg:gap-12">
		<div class="flex flex-col justify-center space-y-4">
			<div class="space-y-2">
				<h2
					class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl"
				>
					Apasionados por la tecnología
				</h2>
				<p class="text-muted-foreground max-w-[600px] md:text-xl">
					Somos un equipo de desarrolladores que sienten verdadera
					pasión por dar vida a soluciones digitales que marcan la
					diferencia.
				</p>
			</div>
			<ul class="grid gap-2">
				{
					list.map((item) => (
						<li class="flex items-center gap-2">
							<CheckCircle class="h-5 w-5 shrink-0" />
							<span>{item}</span>
						</li>
					))
				}
			</ul>
		</div>
		<div class="flex items-center justify-center">
			<Image
				alt="Team working together"
				loading="lazy"
				width="550"
				height="550"
				decoding="async"
				data-nimg="1"
				class="rounded-lg object-cover"
				src="https://placehold.co/550"
				style="color: transparent;"
			/>
		</div>
	</div>
</div>
