---
import TitleSection from "./TitleSection.astro";


---

<div class="mx-auto max-w-3xl">
	<TitleSection class="text-center"> Sobre nosotros </TitleSection>
    <div>
        <p>Somos un grupos de apasionados desarrolladores </p>
    </div>
</div>
