---
import ContactForm from './ContactForm.astro';
import MailIcon from './icons/Mail.astro';
import PhoneIcon from './icons/Phone.astro';
import TitleSection from './TitleSection.astro';
---

<div class="container px-4 md:px-6 md:py-8">
	<div class="grid gap-12 lg:grid-cols-2">
		<div class="flex flex-col justify-center space-y-8">
			<div class="space-y-4">
				<h2
					class="bg-gradient-to-r from-purple-600 to-pink-600 bg-clip-text text-3xl font-bold tracking-tighter text-transparent sm:text-4xl"
				>
					Háblanos de tu proyecto
				</h2>
				<p
					class="max-w-[600px] text-lg text-gray-700 dark:text-gray-300"
				>
					¿Listo para comenzar tu próximo proyecto de software? Ponte
					en contacto con nuestro equipo para hablar sobre tus
					necesidades.
				</p>
			</div>
			<div class="space-y-6">
				<div class="flex items-center gap-4">
					<div
						class="inline-flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-purple-100 dark:bg-purple-900/20"
					>
						<PhoneIcon
							class="h-5 w-5 text-purple-600 dark:text-purple-400"
						/>
					</div>
					<div>
						<p class="text-sm text-gray-500 dark:text-gray-400">
							Teléfono
						</p>
						<p class="font-medium">+51 938 960 683 | +51 994 051 313</p>
					</div>
				</div>
				<div class="flex items-center gap-4">
					<div
						class="inline-flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-purple-100 dark:bg-purple-900/20"
					>
						<MailIcon
							class="h-5 w-5 text-purple-600 dark:text-purple-400"
						/>
					</div>
					<div>
						<p class="text-sm text-gray-500 dark:text-gray-400">
							Email
						</p>
						<p class="font-medium">info@maxxsoftw.com</p>
					</div>
				</div>
			</div>
		</div>
		<div
			class="rounded-xl border border-gray-100 bg-white p-8 shadow-xl dark:border-gray-800 dark:bg-gray-900"
		>
			<ContactForm />
		</div>
	</div>
</div>
