---

---

<footer class="flex items-center justify-center border-t py-5 dark:text-">
	<p>&copy;</p><p class="text-md text-center font-mono">{new Date().getFullYear()} MAXX Software Solutions</p>
</footer>
