---

---

<footer
	transition:persist
	class="flex items-center justify-center border-t bg-white py-5 text-black dark:bg-black dark:text-white"
>
	<p>&copy;</p><p class="text-md text-center font-mono">
		{new Date().getFullYear()} MAXX Software Solutions
	</p>
</footer>
