---
import SocialPill from './SocialPill.astro';
---

<div class="max-w-2xl border border-black rounded-3xl mx-auto">
	<p class="font-mono">Desarrollamos software para tu negocio!</p>
	<SocialPill href="https://twitter.com/astrodotbuild"> Twitter </SocialPill>
	<SocialPill href=""> Facebook </SocialPill>
</div>
