<div class="container mx-auto flex flex-col items-center justify-center min-h-[500px] px-4 py-8 text-center space-y-6">
  <div class="space-y-4 max-w-2xl">
    <h1
      class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none
             bg-clip-text text-transparent
             bg-gradient-to-r
             from-blue-700 to-blue-900
             dark:from-cyan-400 dark:to-blue-700"
    >
      Software a la medida IMPACTO MÁXIMO
    </h1>

    <p class="md:text-xl text-black dark:text-gray-300">
      Potencia tu negocio con soluciones tecnólogicas personalizadas y abre nuevas oportunidades
    </p>
  </div>

  <div class="flex flex-col gap-2 min-[400px]:flex-row">
    <button
      class="inline-flex h-11 items-center justify-center gap-2 rounded-md px-8 text-sm font-medium whitespace-nowrap text-white
             bg-gradient-to-r from-blue-600 via-blue-700 to-blue-900 shadow-md shadow-blue-900/25
             transition-colors
             hover:opacity-90 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none
             dark:bg-gradient-to-r dark:from-cyan-400 dark:via-cyan-600 dark:to-blue-700
             dark:shadow-cyan-600/60
             dark:hover:shadow-[0_0_10px_3px_rgba(79,195,247,0.7)]"
    >
      Contáctanos
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-arrow-right ml-2 h-4 w-4"
      >
        <path d="M5 12h14"></path>
        <path d="m12 5 7 7-7 7"></path>
      </svg>
    </button>
    <button
      class="inline-flex h-11 items-center justify-center gap-2 rounded-md px-8 text-sm font-medium whitespace-nowrap
             border-2 border-blue-600 text-blue-700 bg-gradient-to-tr from-blue-50 to-blue-100
             transition-colors
             hover:opacity-90 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none
             dark:border-cyan-400 dark:text-white
             dark:bg-gradient-to-r dark:from-cyan-600 dark:via-cyan-800 dark:to-blue-900
             dark:hover:shadow-[0_0_10px_3px_rgba(79,195,247,0.7)]"
    >
      Nuestros Servicios
    </button>
  </div>
</div>
