---
import ServiceCard from '@components/ServiceCard.astro';
import TitleSection from './TitleSection.astro';

const cardItems = [
	{
		title: 'Desarrollo de Soluciones Web',
		description:
			'Creamos páginas personalizadas e impactante que capturan la atención de su público objetivo, maximizando las conversiones y reflejando la esencia de su marca.',
		image: 'https://placehold.co/100',
		href: '/software',
	},
	{
		title: 'Desarrollo de Aplicaciones de Escritorio',
		description: 'Desarrollamos software a la medida de tus necesidades',
		image: 'https://placehold.co/100',
		href: '/services/software',
	},
	{
		title: 'Desarrollo de Aplicaciones Móviles',
		description:	
			'Diseñamos aplicaciones móviles innovadoras y funcionales para iOS y Android, que brindan experiencias excepcionales a sus usuarios y amplían el alcance de su negocio en el mercado móvil.',
		image: 'https://placehold.co/100',
		href: '/services/mobile-apps',
	},
];
---

<div class="max-w-7xl">
	<TitleSection class="text-center"> Servicios </TitleSection>
	<div class="grid gap-2 md:grid-cols-2">
		{cardItems.map((card) => <ServiceCard {...card} />)}
		<h2 class="text-center text-2xl font-bold">
			Próximamente más servicios
		</h2>
	</div>
</div>
