---

---

<h3 class="group relative mx-8 my-10 pb-2 text-left text-5xl font-extrabold md:text-[64px] dark:text-white">
	<slot />
	<span class="absolute bottom-0 left-0 h-1 w-0 bg-black transition-all duration-500 group-hover:w-full dark:bg-white"></span>
</h3>
